<html>

<head>
  <title>NChat Profile</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>

<body>

  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked admin-menu">          
          <li>
              <a href="http://localhost:6060/chat" data-target-id="message">
                <i class="glyphicon glyphicon-message"></i> Messages</a>
          </li>
          <li class="active">
            <a href="" data-target-id="profile">
              <i class="glyphicon glyphicon-user"></i> Profile</a>
          </li>
          <li>
            <a href="" data-target-id="change-password">
              <i class="glyphicon glyphicon-lock"></i> Change Password</a>
          </li>
          <li>
            <a href="" data-target-id="logout">
              <i class="glyphicon glyphicon-log-out"></i> Logout</a>
          </li>
        </ul>
      </div>

      

      <div class="col-md-9  admin-content" id="profile">
        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title">Name</h3>
          </div>
          <div class="panel-body" id="name">
            <%= locals.user.username %>
          </div>
        </div>
        </div>
        

      </div>
      
      <div class="col-md-9  admin-content" id="message">
        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title">Go to chat</h3>
          </div>
          <div class="panel-body">
            
            <a href="/chat" class="label label-success">
              <span>   Yes   </span>
            </a>
            <a href="/profile" class="label label-danger" style="width: 50px; height: 40px;">
              <span>   No  </span>
            </a>
          </div>
          



        </div>
      </div>

      <div class="col-md-9  admin-content" id="change-password">
        <form action="/password" method="post">


          <div class="panel panel-info" style="margin: 1em;">
            <div class="panel-heading">
              <h3 class="panel-title">
                <label for="new_password" class="control-label panel-title">New Password</label>
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="password" id="new_password">
                </div>
              </div>

            </div>
          </div>


          <div class="panel panel-info" style="margin: 1em;">
            <div class="panel-heading">
              <h3 class="panel-title">
                <label for="confirm_password" class="control-label panel-title">Confirm password</label>
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="password_confirmation" id="confirm_password">
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-info border" style="margin: 1em;">
            <div class="panel-body">
              <div class="form-group">
                <div class="pull-left">
                  <input type="submit" class="form-control btn btn-primary" name="submit" id="submit">
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>


      <div class="col-md-9  admin-content" id="logout">
        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title">Confirm Logout</h3>
          </div>
          <div class="panel-body">
            Do you really want to logout ?
            <a href="/logout" class="label label-danger" ">
              <span>   Yes   </span>
            </a>
            <a href="/profile" class="label label-success">
              <span>  No   </span>
            </a>
          </div>
          



        </div>
      </div>
    </div>
  </div>
  <script src="/public/js/profile.js"></script>
</body>

</html>