<html lang="en">

<head>
  <%- include('base/head'); -%>
</head>
<body>
  <%- include('base/navbar'); %>
  <form method="POST">
    <h1>Register Form</h1>
    <input placeholder="Username" type="text" name = "username" required="">
    <input placeholder="Password" type="password" name = "password" required="">
    <input placeholder="ConfirmPassword" type="password" name = "confirmpassword" required="">
    <button type="submit">Submit</button>
  </form>
  <%- include('base/footer'); %>
</body>
</html>
